body {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    background-color: hsl(0, 0%, 95%);
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

form {
    margin: 1rem;
}

h1 {
    margin: 1rem 0;
}

input[type=text] {
    width: 100%;
}

input[name="naam"], input[name="voornaam"]{
    margin: 0.4rem 0;
    height: 2.5rem;
}

input {
    border: 1px solid hsl(0, 0%, 60%);
    border-radius: 0.3rem;
    accent-color: hsl(110, 30%, 30%);
}

label[name="info"] {
    display: block;
    margin: 0.5rem 0;
}

input[name="info"] {
    margin-right: 0.5rem;
}

.info {
    font-weight: 700;
}

#versturen {
    display: block;
    background-color: hsl(110, 30%, 30%);
    padding: 0.3rem 0.8rem;
    color: white;
    font-weight: 700;
    border-color: hsl(110, 30%, 30%);
}

textarea {
    border-radius: 0.3rem;
    border-color: hsl(0, 0%, 60%);
}
#opmerkingen {
    display: block;
}

input[name="nieuwsbrief"] {
    margin: 1rem 0 1.5rem 0;
}