@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
* { box-sizing: border-box;}
body { 
    line-height: 1.5rem; 
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3 { 
    font-family: 'Odibee Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
