header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(186, 96%, 43%);
    padding: 1.5rem;
    color: hsl(256, 15%, 28%);
    font-weight: 700;
    font-size: 1.7rem;
}

body {
    background-color: hsl(0, 0%, 87%)
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

article {
    border: 0 solid;
    border-radius: 0.75rem;
    margin: 0 1.5rem;
    background-color: white;
    box-shadow: 0 0 10px 0.1px black;       /* Ik kreeg de schaduw niet lichter */
    position: relative;
}

article:first-child {
    margin-top: 2rem;
}

article:last-child {
    margin-bottom: 2rem;
}

article img:not(.time img) {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}

.article__content {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
}

article h2 {
    color: hsl(256, 15%, 28%);
}

.new-tag {
    display: flex;
    color: white;
    font-weight: 700;
    border: 1px solid hsl(11, 99%, 59%);
    background-color: hsl(11, 99%, 59%);
    border-radius: 10rem;
    width: fit-content;
    padding: .2rem 0.8rem;
    position: absolute;
    top: 28vh;
    right: 5vw;
}

.time {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border: 1px solid hsl(0, 0%, 87%);
    background-color: hsl(0, 0%, 87%);
    border-radius: 10rem;
    width: fit-content;
    padding: .2rem 0.5rem;
    margin: 0.5rem 0 1.5rem 0;
}

.article__text {
    margin-bottom: 1rem;
}

.readmore_button {
    color: hsl(256, 15%, 28%);
    font-weight: 700;
    text-decoration-thickness: 3px;
    text-decoration-color: hsl(0, 0%, 70%);
}

@media (min-width:1000px) {
    main {
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: baseline;
    }
    
    article {
        flex-basis: 25%;
        height: 40rem;
    }

    .new-tag {
        top: 28vh;
        right: 1.5vw;
    }
}