.selectors__takeaction {
    background-color: hsl(186, 96%, 43%);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(186, 96%, 43%);
    padding: 1.5rem;
    color: hsl(256, 15%, 28%);
    font-weight: 700;
    font-size: 2.5rem;
}

main {
    margin: 2rem 8rem;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

h2 {
    font-weight: 700;
    color: hsl(256, 15%, 28%);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.description p {
    padding-right: 2rem;
}

.description {
    flex-basis: 30%;
}

.form {
    flex-basis: 70%;
}

form {
    display: flex;
}

label {
    display: block;
    font-weight: 700;
}

input {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

input[type="text"]{
    height: 40px;
}

input[type="checkbox"] {
    width: 20px;
    margin: 1rem 0;
}

textarea {
    border: 1px solid black;
    border-radius: 5px;
}

label[name="nieuwsbrief"] {
    display: block;
    font-weight: 300;
}

button {
    background-color: hsl(186, 96%, 43%);
    border: 1px solid hsl(186, 96%, 43%);
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 700;
}