header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(186, 96%, 43%);
    padding: 1.5rem;
    color: hsl(256, 15%, 28%);
    font-weight: 700;
    font-size: 1.7rem;
}

article {
    padding: 1.8rem 1.8rem 3rem 1.8rem;
}

.climate {
    background-color: hsl(0, 0%, 87%);
}

h2 {
    margin: 1rem 0 1rem 0;
    font-size: 2.4rem;
    color: hsl(256, 15%, 28%);
}

@media (min-width: 1000px) {
    article {
        display: flex;
        gap: 15rem;
        justify-content: space-between;
    }

    article h2 {
        flex-basis: 30%;
        margin-left: 3rem;
    }

    article p {
        flex-basis: 110%;
    }
}