body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.grid li {
  background: #55ddbd;
  padding: 1rem;
  border: 2px solid #0e4538;
}
